<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= title %></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if ((typeof link !== "undefined" && link) && (typeof search !== "undefined")) { %>
      <form class="d-flex ms-auto" action="<%= link %>" method="get">
        <input
          value="<%= search %>"
          class="form-control me-2"
          type="search"
          name="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <% } %>
    </div>
  </div>
</nav>

<script>
  // Get the form and input elements
  const form = document.getElementById('searchForm');
  const searchInput = document.getElementById('searchInput');

  // Add an event listener to the form's submit event
  if (searchInput) {
    form.addEventListener('submit', function (event) {
      // Prevent the default form submission
      event.preventDefault();

      // Get the current URL
      const currentURL = window.location.href.split('?')[0]; // Removes existing query params

      // Get the search input value
      const searchQuery = searchInput.value;

      // Redirect to the URL with the search query appended
      window.location.href = `${currentURL}?search=${encodeURIComponent(searchQuery)}`;
    });
  }
</script>
